#movies img {
    width: 100%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 500px;
    }
    
    #movies .col-md-3 img {
        height: 350px;
    }
    #movies .col-md-3 h6 {
        margin-top: 15px;
    }
}
#movie img {
    width: 20%;
}